<!DOCTYPE html>
{% load static %}
{% load cloudinary %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <center>
        <h1><font color="white">Jukiyaのサイト</font></h1>
    </center>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <div class="profile">
        <center>
            <img src="/media/img/upload/my_profile.jpg" , alt="profile" , width="150" , height="150">
        </center>
    </div>

    <div class="comment">
        <center>
            {% for data in tmp_data %}
            <p>{{data.description}}</p>
            {% endfor %}
        </center>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <div class="account">
        <ul class="follow-me">
            {%for data in tmp_data %}
            <li><a href="{{data.twitter}}" , target="_blank"></a></li>
            <li><a href="{{data.kaggle}}" , target="_blank"></a></li>
            <li><a href="{{data.github}}" , target="_blank"></a></li>
            <li><a href="{{data.note}}" , target="_blank"></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="tab_box">
        <input type="radio" name="tabset" id="tab1", checked="checked"><label for="tab1", class="tab">Skill</label>
        <input type="radio" name="tabset" id="tab2"><label for="tab2", class="tab">About me</label>
        <input type="radio" name="tabset" id="tab3"><label for="tab3" , class="tab">Art</label>
        <div class="tabcontent", id="skillcontent">
            <ul>
                {% for skill in skill_data %}
                <h4><li>{{skill.language}}({{skill.period}})</li></h4>
                <p>{{skill.description}}</p>
                {% endfor %}
            </ul>
        </div>

        <div class="tabcontent", id="aboutmecontent">
            {% for about in about_data %}
            <h3>[{{about.title}}]</h3>
            <h4>{{about.description}}</h4>
            {% endfor %}
        </div>

        <div class="tabcontent", id="artcontent">
            {% for art in art_data %}
            <h3>{{art.title}}</h3>
            <h5>{{art.summary}}</h5>
            <iframe class="note-embed" src="{{art.script}}"
                style="border: 0; display: block; max-width: 99%; width: 494px; padding: 0px; margin: 10px 0px; position: static; visibility: visible;"
                height="200"></iframe>
            {% endfor %}
        </div>
    </div>
</body>
</html>