<!DOCTYPE html>
{% load static %}
{% comment %} {% load cloudinary %} {% endcomment %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/works.css' %}">
        <title>Jukiyaのサイト</title>
        <div class="header">
            <div class="profile">
                <img src="/media/img/upload/my_favorite_photo.jpg" , alt="profile_icon" , width="150" , height="150">
                <h1><font color="black">Jukiya</font></h1>
            </div>
            <div class="page_link">
                <h3 id="introduction">自己紹介</h3>
                <h3 id="skill">スキル</h3>
                <h3 id="experience">今までやってきたこと</h3>
                <h3 id="works">作品</h3>
                <h3 id="blog">ブログ</h3>
                <h3 id="contact">連絡</h3>
                <h3 id="news">お知らせ</h3>
            </div>
        </div>
    </head>
    <body>
        <div class="title">
            <a href="{% url 'myapp:home' %}"><h3>HOME</h3></a>
            <h1 class="works">作品紹介</h1>
        </div>
        <div class="work1">
            <h3>Typing RPG(予定)</h3>
            <p>完成予定: 2023/3月頃</p>
            <h3>使用技術</h3>
            <p>Unity C#</p>
            <video class="movie" controls width="600" height="600" src="/media/img/upload/TypingRPG_demo.mp4"></video>
    </body>
    <script src="{% static 'javascript/sideBar.js' %}"></script>
</html>